{% extends "base.html" %}

{% block contenido %} 
<!-- Style para dropdown -->


<body bgcolor="#FF9900" >
<style type="text/css">
    body{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#444;font-size:13px; background: #FF9900;}
    p,div,ul,li{padding:0px; margin:0px;}
</style>




{% if not logged %}
<div class="container">
  
  <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.leanModal.min.js"></script>
  <button id="modal_trigger" href="#modal" class="btn bottomright" >Conectarse o Registrarse</button>
  <div id="modal" class="popupContainer" style="display:none;">

    <header class="popupHeader">
      <span class="header_title">Conectarse a ChacaoGO</span>
      <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>
    

    <section class="popupBody">
      <!-- Social Login -->
      <div class="social_login">
        <div class="action_btns">
          <div class="one_half"><a href="#" id="login_form" class="btn">Iniciar Sesion</a></div>
          <div class="one_half last"><a href="/register" class="btn">Registrarse</a></div>
        </div>
      </div>

      <!-- Username & Password Login form -->
      <div class="user_login">
        <form id="form" action="/login/" method="post">
        {% csrf_token %}
          <label>Nombre de Usuario</label>
          <input type="text" name="username" id="username"/>
          <br />

          <label>Contraseña</label>
          <input  type="password" name="password" />
          <br />

          <div class="action_btns">
            <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Volver</a></div>
            <div class="one_half last"><button id="connect" type="submit" class="btn btn_red">Iniciar Sesion</button></div>
          </div>
        </form>

        <a href="#" class="forgot_password">Contraseña Olivdada?</a>
          </div>
        </form>

      <!-- Register Form -->
      <div class="user_register">
        <form >
          <label>Full Name</label>
          <input  name="username" id="username" type="text" />
          <br />

          <label>Email Address</label>
          <input type="email" />
          <br />

          <label>Password</label>
          <input type="password" />
          <br />

          <div class="checkbox">
            <input id="send_updates" type="checkbox" />
            <label for="send_updates">Send me occasional email updates</label>
          </div>

          <div class="action_btns">
            <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
            <div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>
          </div>
        </form>
      </div>
    </section>
  </div>


  <script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
      // Calling Login Form
      $("#login_form").click(function(){
        $(".social_login").hide();
        $(".user_login").show();
        return false;
      });

      // Calling Register Form
      $("#register_form").click(function(){
        $(".social_login").hide();
        $(".user_register").show();
        $(".header_title").text('Register');
        return false;
      });

      // Going back to Social Forms
      $(".back_btn").click(function(){
        $(".user_login").hide();
        $(".user_register").hide();
        $(".social_login").show();
        $(".header_title").text('Login');
        return false;
      });

    })
  </script>
</div>
  
  {% else %}

  <script type="text/javascript">
     function getLocation() {
            navigator.geolocation.getCurrentPosition(foundLocation, noLocation);
            function foundLocation(position) {


   var lat = position.coords.latitude;
        var long = position.coords.longitude;
        // alert("LAT : "+lat +", LONG : "+long);
        //bad bad
        window.location.replace("/addevent/?x="+lat+"&y="+long);
        //puntos del rectangulo
        //  1    2
        //  3    4
           // 1 = 10.539458389418337&y=-426.86957359313965
           // 2 =  10.536083064772939&y=-426.83807373046875
           // 3 = x=10.488149468956726&y=-426.86811447143555
           // 4 = 10.484267197377525&y=-426.84425354003906                  
         }
    }

    function noLocation() {
        alert('No se pudo encontrar su localizacion o usted no se encuentra en Chacao');
    }

  </script>

  <div class="btn-group bottomright">
    <button type="button" class="btn btn-default" onclick="getLocation()" >Agregar Evento/Suceso</button>
    <a type="button" class="btn btn-default" href="/redirectuser">Menú Principal</a>
    <a class="btn btn-default" href="/logout">Salir</a>
  </div>  


  {% endif %}
    <form id="form" action="/filter/" method="post">
    {% csrf_token %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/static/js/jquery.sumoselect.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.asd = $('.SlectBox').SumoSelect({ csvDispCount: 3 });
            window.test = $('.testsel').SumoSelect({okCancelInMulti:true });
            window.testSelAll = $('.testSelAll').SumoSelect({okCancelInMulti:true, selectAll:true });
            window.testSelAll2 = $('.testSelAll2').SumoSelect({selectAll:true });
        });
    </script>

    <input type="hidden" name="Language" value="English">


    <select name="type[]" multiple="multiple" image='<img src="/static/img/icon_police.png" width="18px">' placeholder="Seguridad" onchange="console.log($(this).children(':selected').length)" class="SlectBox">
           <option value="ZP">Zona Peligrosa</option>
           <option value="DEL">Delito</option>
           <option value="AS">Actividad Sospechosa</option>


    </select>
    <select name="type[]" multiple="multiple" image='<img src="/static/img/icon_street.png" width="18px">' placeholder="Vialidad" onchange="console.log($(this).children(':selected').length)" class="SlectBox">
           <option value="AC">Accidente</option>
           <option value="EM">Embotellamiento</option>
           <option value="PV">Peligro en la Vía</option>
           <option value="PR">Protesta</option>


    </select>
    <select name="type[]" multiple="multiple" image='<img src="/static/img/icon_service.png" width="18px">' placeholder="Def. Servicios" onchange="console.log($(this).children(':selected').length)" class="SlectBox">
           <option value="AM">Asistencia médica</option>
           <option value="SA">Servicio de Agua</option>
           <option value="SE">Servicio Eléctrico</option>
           <option value="RRS">Recolección de Residuos Solidos</option>
           <option value="EDU">Educación</option>


    </select>
    <select name="type[]" multiple="multiple" image='<img src="/static/img/icon_sports.png" width="18px">' placeholder="Deportes" onchange="console.log($(this).children(':selected').length)" class="SlectBox">
           <option value="ED">Encuentro Deportivo</option>
           <option value="BA">Bailoterapia</option>
           <option value="YO">Yoga</option>
           <option value="CD">Clase Deportiva</option>


    </select> <br>
    <select name="type[]" multiple="multiple" image='<img src="/static/img/icon_culture.png" width="18px">' placeholder="Cultura" onchange="console.log($(this).children(':selected').length)" class="SlectBox">
           <option value="CO">Concierto</option>
           <option value="FE">Feria</option>
           <option value="EA">Exposición de arte</option>


    </select>
    
    <select name="type[]" multiple="multiple" image='<img src="/static/img/icon_product.png" width="18px">' placeholder="Productos" onchange="console.log($(this).children(':selected').length)" class="SlectBox">
           <option value="JD">Jornada de Documentación</option>
           <option value="VPE">Venta de Producto Escaso</option>
           <option value="JE">Jornada Electoral</option>
           <option value="DES">Descuento</option>


    </select>    
    <select name="type[]" multiple="multiple" image='<img src="/static/img/icon_help.png" width="18px">' placeholder="Productos" onchange="console.log($(this).children(':selected').length)" class="SlectBox">
           <option value="DS">Donación de sangre</option>
           <option value="SM">Solicitud de Medicamento</option>
           <option value="JV">Jornada Veterinaria</option>
           <option value="SV">Solicitud de Voluntarios</option>
    </select>
    <select name="type[]" multiple="multiple" image='<img src="/static/img/icon_broken.png" width="18px">' placeholder="Det. Municipal" onchange="console.log($(this).children(':selected').length)" class="SlectBox">
           <option value="CA">Calles y avenidas</option>
           <option value="ACE">Aceras</option>
           <option value="PC">Patrimonio Cultural</option>
           <option value="TE">Terreno</option>
    </select>
    <select name="fuser" multiple="multiple" image='<img src="/static/img/icon_broken.png" width="18px">' placeholder="Tipo Usuario" onchange="console.log($(this).children(':selected').length)" class="SlectBox" >
           <option value="Oficiales">EnteOficial</option>
           <option value="Usuario">Ciudadano</option>
    </select>


    <button type="submit" value="Submit" class="btn  btn-default" style="margin: 0px 10px 10px 10px;">Filtrar</button>
    &emsp; &emsp;
    <img  src="/static/img/logos.png" height="60px">
    </form >


  <!-- ================ MAP START ====================== -->


<div id="map" class="mapr"></div>
 
  <script src='/static/js/mapbox.js' style="z-index: 1;"></script>
       <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoibmFiaWxqZXN1cyIsImEiOiI2ZmNhMjk5ZjE4MWFlOWU5NzU0MDg5NDI4OGQ5MDk3NyJ9.q4rRtkf-6VTh6_-H1hxhKw';

        var mapboxTiles = L.tileLayer('https://{s}.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {
           maxZoom: 19,
           minZoom: 14
           // attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
           //    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
           //    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        });

        var map = L.map('map')
            .addLayer(mapboxTiles)
            .setView([10.54562, -426.87142], 15);

        var mark_police = L.icon({
         iconUrl: '/static/img/pin_police.png',
         shadowUrl: '/static/img/pin_shadow.png',

         iconSize:     [45, 45], // size of the icon
         shadowSize:   [45, 45], // size of the shadow
         iconAnchor:   [10, 45], // point of the icon which will correspond to marker's location
         shadowAnchor: [10, 45],  // the same for the shadow
         popupAnchor:  [0, -35] // point from which the popup should open relative to the iconAnchor
        });

        var mark_street = L.icon({
         iconUrl: '/static/img/pin_street.png',
         shadowUrl: '/static/img/pin_shadow.png',

         iconSize:     [45, 45], // size of the icon
         shadowSize:   [45, 45], // size of the shadow
         iconAnchor:   [10, 45], // point of the icon which will correspond to marker's location
         shadowAnchor: [10, 45],  // the same for the shadow
         popupAnchor:  [0, -35] // point from which the popup should open relative to the iconAnchor
        });

        var mark_service = L.icon({
         iconUrl: '/static/img/pin_service.png',
         shadowUrl: '/static/img/pin_shadow.png',

         iconSize:     [45, 45], // size of the icon
         shadowSize:   [45, 45], // size of the shadow
         iconAnchor:   [10, 45], // point of the icon which will correspond to marker's location
         shadowAnchor: [10, 45],  // the same for the shadow
         popupAnchor:  [0, -35] // point from which the popup should open relative to the iconAnchor
        });

        var mark_sports = L.icon({
         iconUrl: '/static/img/pin_sports.png',
         shadowUrl: '/static/img/pin_shadow.png',

         iconSize:     [45, 45], // size of the icon
         shadowSize:   [45, 45], // size of the shadow
         iconAnchor:   [10, 45], // point of the icon which will correspond to marker's location
         shadowAnchor: [10, 45],  // the same for the shadow
         popupAnchor:  [0, -35] // point from which the popup should open relative to the iconAnchor
        });

        var mark_culture = L.icon({
         iconUrl: '/static/img/pin_culture.png',
         shadowUrl: '/static/img/pin_shadow.png',

         iconSize:     [45, 45], // size of the icon
         shadowSize:   [45, 45], // size of the shadow
         iconAnchor:   [10, 45], // point of the icon which will correspond to marker's location
         shadowAnchor: [10, 45],  // the same for the shadow
         popupAnchor:  [0, -35] // point from which the popup should open relative to the iconAnchor
        });

        var mark_product = L.icon({
         iconUrl: '/static/img/pin_product.png',
         shadowUrl: '/static/img/pin_shadow.png',

         iconSize:     [45, 45], // size of the icon
         shadowSize:   [45, 45], // size of the shadow
         iconAnchor:   [10, 45], // point of the icon which will correspond to marker's location
         shadowAnchor: [10, 45],  // the same for the shadow
         popupAnchor:  [0, -35] // point from which the popup should open relative to the iconAnchor
        });

        var mark_help = L.icon({
         iconUrl: '/static/img/pin_help.png',
         shadowUrl: '/static/img/pin_shadow.png',

         iconSize:     [45, 45], // size of the icon
         shadowSize:   [45, 45], // size of the shadow
         iconAnchor:   [10, 45], // point of the icon which will correspond to marker's location
         shadowAnchor: [10, 45],  // the same for the shadow
         popupAnchor:  [0, -35] // point from which the popup should open relative to the iconAnchor
        });


        var mark_broken = L.icon({
         iconUrl: '/static/img/pin_broken.png',
         shadowUrl: '/static/img/pin_shadow.png',

         iconSize:     [45, 45], // size of the icon
         shadowSize:   [45, 45], // size of the shadow
         iconAnchor:   [10, 45], // point of the icon which will correspond to marker's location
         shadowAnchor: [10, 45],  // the same for the shadow
         popupAnchor:  [0, -35] // point from which the popup should open relative to the iconAnchor
        });

        var popup = L.popup();

        function onMapClick2(e) {
           popup
              .setLatLng(e.latlng)
              .setContent("Estoy en chacao :D en: " + e.latlng.toString())
              //.setContent("No toy en Chacao :(")
              .openOn(map);
        }

        var polip = L.polygon([
           [10.54562, -426.87142],
           [10.55028, -426.86803],
           [10.55091, -426.86635],
           [10.54899, -426.86221],
           [10.54669, -426.85957],
           [10.54383, -426.85736],
           [10.54134, -426.85266],
           [10.53853, -426.8455],
           [10.53933, -426.84438],
           [10.53946, -426.83846],
           [10.53845, -426.83507],
           [10.5338, -426.83876],
           [10.5284, -426.83709],
           [10.51161, -426.83807],
           [10.50465, -426.83674],
           [10.50018, -426.84048],
           [10.49646, -426.84378],
           [10.48887, -426.84344],
           [10.48368, -426.84382],
           [10.4838, -426.8497],
           [10.48254, -426.85219],
           [10.48503, -426.86133],
           [10.48769, -426.86914],
           [10.49355, -426.87108],
           [10.50461, -426.86648],
           [10.52018, -426.86344],
           [10.53731, -426.87155],
           [10.54558, -426.87163]
        ], {
           stroke: true,
           weight: 1,
           color: 'Gray',
           fillOpacity: 0,
           Opacity: 1
        })
        
        var smallPoly=polip

        var bigPoly = L.polygon(
        [[[12.345368032463298 ,  -429.774169921875],
        [12.21118019150401  , -424.1876220703125],
        [8.439771599521729  , -424.2974853515625],
        [8.667918002363121  , -429.71923828124994]],
        [[10.54562, -426.87142],
           [10.55028, -426.86803],
           [10.55091, -426.86635],
           [10.54899, -426.86221],
           [10.54669, -426.85957],
           [10.54383, -426.85736],
           [10.54134, -426.85266],
           [10.53853, -426.8455],
           [10.53933, -426.84438],
           [10.53946, -426.83846],
           [10.53845, -426.83507],
           [10.5338, -426.83876],
           [10.5284, -426.83709],
           [10.51161, -426.83807],
           [10.50465, -426.83674],
           [10.50018, -426.84048],
           [10.49646, -426.84378],
           [10.48887, -426.84344],
           [10.48368, -426.84382],
           [10.4838, -426.8497],
           [10.48254, -426.85219],
           [10.48503, -426.86133],
           [10.48769, -426.86914],
           [10.49355, -426.87108],
           [10.50461, -426.86648],
           [10.52018, -426.86344],
           [10.53731, -426.87155],
           [10.54558, -426.87163]]]
        , {
           stroke: true,
           weight: 0,
           color: 'Gray ',
           fillOpacity: 0.2,
           Opacity: 1
        })

        bigPoly.addTo(map)

        polip.addTo(map)


        var popup2 = L.popup()
                   .setContent("<div aling=\"middle\">No es posible agregar un evento o suceso en esta área.</div>")
                   //.openOn(map)
        var customOptions2 =
            {
            'maxWidth': '40',
            'className' : 'custom'
            }       

        bigPoly.bindPopup(popup2,customOptions2);

        function onMapClick(e) {
           popup
              .setLatLng(e.latlng)
              .setContent("<div align=\"right\"><a href=\"/addevent/?x="+e.latlng.lat.toString()+"&y="+e.latlng.lng.toString()+"\">Agregar Evento/Suceso</a></div></font>")
              //.setContent("No toy en Chacao :(")
              .openOn(map);
        }

        //polip.addTo(map).bindPopup("Estoy en chacao :D en: " );


        //Markers
        // L.marker([10.49802, -426.85181], {icon: mark_police}).addTo(map);
        // L.marker([10.49794, -426.85756], {icon: mark_street}).addTo(map);
        // L.marker([10.49769, -426.86502], {icon: mark_service}).addTo(map);
        // L.marker([10.49304, -426.86013], {icon: mark_sports}).addTo(map);
        // L.marker([10.53144, -426.84709], {icon: mark_culture}).addTo(map);
        // L.marker([10.51541, -426.8397], {icon: mark_product}).addTo(map);
        // L.marker([10.51853, -426.86245], {icon: mark_help}).addTo(map);
        // L.marker([10.48393, -426.84571], {icon: mark_broken}).addTo(map);

        var customOptions =
            {
            'maxWidth': '150',
            'className' : 'custom'
            }

        var myInput = JSON.parse('{{ listaEventos | safe }}')

        for (var key in myInput) {
          //alert(key)
          if (myInput.hasOwnProperty(key)) {

           var ACT = myInput[key];
           var auxl =  ACT.length;
           //var iconact = mark_product

           switch(key) {
                  case "SE":
                      var iconact = mark_police;
                      break;
                  case "VI":
                      var iconact = mark_street;
                      break;
                  case "DS":
                      var iconact = mark_service;
                      break;
                  case "DE":
                      var iconact = mark_sports;
                      break;
                  case "CU":
                      var iconact = mark_culture;
                      break;
                  case "PR":
                      var iconact = mark_product;
                      break;
                  case "SP":
                      var iconact = mark_help;
                      break;
                  case "DM":
                      var iconact = mark_broken;
                      break;
                  default:
                      var iconact = mark_police;
                      break;
           }


           for (var i = 0; i<auxl; i++){
               var typei = ACT[i]["tipo"]
               //alert(typei)
               switch(typei){
                      case "ZP": 
                         var subcate="Zona Peligrosa"; 
                         break;
                      case "DEL": 
                         var subcate="Delito"; 
                         break;
                      case "AS": 
                         var subcate="Actividad Sospechosa"; 
                         break;
                      case "AC": 
                         var subcate="Accidente"; 
                         break;
                      case "EM": 
                         var subcate="Embotellamiento"; 
                         break;
                      case "PV": 
                         var subcate="Peligro en la Vía"; 
                         break;
                      case "PR": 
                         var subcate="Protesta"; 
                         break;
                      case "AM": 
                         var subcate="Asistencia médica"; 
                         break;
                      case "SA": 
                         var subcate="Servicio de Agua"; 
                         break;
                      case "SE": 
                         var subcate="Servicio Eléctrico"; 
                         break;
                      case "RRS": 
                         var subcate="Recolección de Residuos Solidos"; 
                         break;
                      case "MA": 
                         var subcate="Maratón"; 
                         break;
                      case "ED": 
                         var subcate="Encuentro Deportivo"; 
                         break;
                      case "BA": 
                         var subcate="Bailoterapia"; 
                         break;
                      case "YO": 
                         var subcate="Yoga"; 
                         break;
                      case "CD": 
                         var subcate="Clase Deportiva"; 
                         break;
                      case "CO": 
                         var subcate="Concierto"; 
                         break;
                      case "FE": 
                         var subcate="Feria"; 
                         break;
                      case "OT": 
                         var subcate="Obra de Teatro"; 
                         break;
                      case "EA": 
                         var subcate="Exposición de arte"; 
                         break;
                      case "JD": 
                         var subcate="Jornada de Documentación"; 
                         break;
                      case "VPE": 
                         var subcate="Venta de Producto Escaso"; 
                         break;
                      case "JE": 
                         var subcate="Jornada Electoral"; 
                         break;
                      case "DES": 
                         var subcate="Descuento"; 
                         break;
                      case "DS": 
                         var subcate="Donación de sangre"; 
                         break;
                      case "SM": 
                         var subcate="Solicitud de Medicamento"; 
                         break;
                      case "JV": 
                         var subcate="Jornada Veterinaria"; 
                         break;
                      case "SV": 
                         var subcate="Solicitud de Voluntarios"; 
                         break;
                      case "CA": 
                         var subcate="Calles y avenidas"; 
                         break;
                      case "ACE": 
                         var subcate="Aceras"; 
                         break;
                      case "PC": 
                         var subcate="Patrimonio Cultural"; 
                         break;
                      case "TE": 
                         var subcate="Terreno";
                         break;
                      default :
                         var subcate="Zona Peligrosa"; 
                         break;
               }
              //alert('webo')
              //alert(ACT[i].X);
              //alert('webo')
              if (ACT[i]["VIP"]){
                  var tempmark = L.circleMarker([ACT[i]["X"], ACT[i]["Y"]], {color: '#FF0033'}).addTo(map);
              }
              var tempmark = L.marker([ACT[i]["X"], ACT[i]["Y"]], {icon: iconact}).addTo(map);
              var popup = L.popup()
               .setLatLng([ACT[i]["X"], ACT[i]["Y"]])
               .setContent("<b><h3>"+subcate+":</h3></b><b>"+ACT[i]["nombre"]+"</b><hr>"+ACT[i]["descripcion"]+"<br><br><font color=\"cyan\"><div align=\"right\"><a href=\"/event/?id="+ACT[i]["id"]+"\">+ detalles</a></div></font>")
               //.openOn(map)
              tempmark.bindPopup(popup,customOptions);
           }
              //
          }
        }

        map.on('click', onMapClick);
        map.fitBounds(polip.getBounds()); // max zoom to see whole polygon
        map.setMaxBounds(polip.getBounds()); // restrict map view to polygon bounds
        //map.zoomToExtent(polip.getBounds())
        //map.options.minZoom = map.getZoom(); // restrict user to zoom out 
        map.options.maxZoom = 19;
        map.options.minZoom = 14;
     </script>
</div>  

   <!-- ================ MAP END ====================== -->

  


</body>
{% endblock contenido %}