{% extends "base.html" %}

{% block contenido %} 
<body>
  <div class="row btn-group">
    <div class="col-md-1"> <input type="checkbox" value=""> filt i </div>
    <div class="col-md-1"> <input type="checkbox" value=""> filt i </div>
    <div class="col-md-1"> <input type="checkbox" value=""> filt i </div>
    <div class="col-md-1"> <input type="checkbox" value=""> filt i </div>
    <div class="col-md-1"> <input type="checkbox" value=""> filt i </div>
    <div class="col-md-1"> <input type="checkbox" value=""> filt i </div>
    <div class="col-md-1"> <input type="checkbox" value=""> filt i </div>
    <div class="col-md-1"> <input type="checkbox" value=""> filt i </div>
    <div class="col-md-1"> <input type="checkbox" value=""> filt i </div>
    <div class="col-md-1"> <input type="checkbox" value=""> filt i </div>
    <div class="col-md-1"> <input type="checkbox" value=""> filt i </div>
    <div class="col-md-1"> <input type="checkbox" value=""> filt i </div>
  </div>

  <div class="btn-group topright">
    <button type="button" class="btn btn-default">Conectarme</button>
    <a class="btn btn-default" href="/register">Registrarme</a>
  </div>
</body>
{% endblock contenido %}