<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="Javier y Nabil" content="ChacaoGo!">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/simpleLayout.css" rel="stylesheet">
    <title>ChacaoGO</title>
  </head>

  <body class="preto">

    <div class="container-fluid">
    <div class="row elefanteinvisible">
        <div class="col-md-8">
            <img alt="Bootstrap Image Preview" src="/static/img/logo.png" height="126px" height="204x">
        </div>
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
        </div>
    </div>
    <div class="row elefanteinvisible">
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
        </div>
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="row elefanteinvisible">
    </div>

    <div class="row elefanteinvisible">
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
        </div>
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>

</html>