alembic==0.7.5.post2
apturl===0.5.2ubuntu6
argcomplete==0.8.1
beautifulsoup4==4.3.2
Brlapi==0.6.2
chardet==2.3.0
checkbox-ng==0.3.1
checkbox-support==0.2
colorama==0.3.2
command-not-found==0.3
defer==1.0.6
Django==1.8.2
feedparser==5.1.3
html5lib==0.999
httplib2==0.9
itsdangerous==0.24
language-selector==0.1
louis==2.5.3
lxml==3.4.2
Mako==1.0.0
MarkupSafe==0.23
oauthlib==0.7.2
onboard==1.1.1
oneconf==0.3.7
pexpect==3.2
Pillow==2.7.0
piston-mini-client==0.7.5
plainbox==0.5.4
progressbar==2.3
psycopg2==2.6
pycrypto==2.6.1
pycups==1.9.72
pycurl==7.19.5
pygobject==3.14.0
pylast==1.0.0
pyparsing==2.0.3
pysmbc==1.0.15.3
python-apt===0.9.3.11build1
python-debian==0.1.22
python-twitter==2.2
pyxdg==0.25
PyYAML==5.4
reportlab==3.1.44
requests==2.4.3
requests-oauthlib==0.4.2
selenium==2.46.0
ssh-import-id==4.1
urllib3==1.9.1
virtualenv==1.11.6
