.center {
    margin: 0 auto;
    vertical-align: middle;
    /*position: absolute;*/
}
.wraptocenter {
  vertical-align: middle;
}
.overlay {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 110%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.8;
}

.modal {
    background: #00121b;
    min-height: 54.5em;
    width: 56.5em;
    border: 1px solid #111e24;
    box-shadow: 0 0 1em #000;
    -moz-box-shadow: 0 0 1em #000;
    -webkit-box-shadow: 0 0 1em #000;
    display: none;
    position: absolute;
    z-index: 1002;
}
.darker {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0.6; 
}
.topright{
    position: absolute;
    top: 0;
    right: 0px;
}


.bottomright{
    position:absolute;
    bottom:0;
    right:0;
}

.invisible{
    visibility: hidden;
}

.con { 
    overflow:hidden; 
}

#cover{
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
}

.interno{
    bottom: 0px;
}


.preto{
    background-color: black;
}

.elefanteinvisible{
   display: block;
   border: medium solid transparent;
   margin: 2px;
}


.mapr {
      margin: auto;
      width: 100%;
      height: 93vh;}
.mapr1 {
      margin: auto;
      width: 100%;
      height: 95vh;}

.filt_buttom {
    position:absolute;  
    transition: .5s ease;
    top: 0%;
    left: 89%;  
} 

.linesplit{ 
    width: 38em;
    word-wrap: break-word; 
}

.smallerimg{
  height: 109px;
  width: 300px;
}