.center {
    margin: 0 auto;
    vertical-align: middle;
    z-index: 4;
    /*position: absolute;*/
}
.wraptocenter {
  vertical-align: middle;
}
.overlay {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 110%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.8;
}

.modal {
    background: #00121b;
    min-height: 54.5em;
    width: 56.5em;
    border: 1px solid #111e24;
    box-shadow: 0 0 1em #000;
    -moz-box-shadow: 0 0 1em #000;
    -webkit-box-shadow: 0 0 1em #000;
    display: none;
    position: absolute;
    z-index: 1002;
}
.darker {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0.6; 
}
.topright{
    position: absolute;
    top: 0%;
    right: 0px;
}
.topleft{
    position: absolute;
    top: 0%;
    left: 0px;
}


.bottomright{
    position:absolute;
    bottom:0;
    right:0;
    z-index: 9999;
}

.invisible{
    visibility: hidden;
    z-index: 4;
}


.invisible1{
    visibility: hidden;
    z-index: 4;
}

.con { 
    overflow:hidden; 
}

#cover{
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
}

.interno{
    bottom: 0px;
}


.preto{
    background-color: black;
}

.elefanteinvisible{
   display: block;
   border: medium solid transparent;
   margin: 2px;
}


.mapr {
      margin: auto;
      width: 100%;
      height: 90vh;
      top: 50%;
      z-index: 1;
  }
.mapr1 {
      margin: auto;
      width: 100%;
      height: 100vh;}

.filt_buttom {
    position:absolute;  
    transition: .5s ease;
    top: 0%;
    left: 89%;  
} 


.linesplit{ 
    width: 38em;
    word-wrap: break-word; 
}

.smallerimg{
  height: 109px;
  width: 300px;
}

/* Filtro */

.dropdown-check-list {
  display: inline-block;
  background: #FF9900;
  color: #FFFFFF;
  text-shadow:  0 0 0px #FF0000, 0 0 2px #000000;
  vertical-align:top;
  z-index: 1; 

}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 28px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 0px solid #ccc;
  border-top: none;
}
.dropdown-check-list ul.items li {
  list-style: none;
}
.dropdown-check-list.visible .anchor {
  color: #FF6600;
}
.dropdown-check-list.visible .items {
  display: block;
}
/* end filtro */

/* events */

.input-color {
    position: relative;
}
.input-color input {
    padding-left: 20px;
}
.input-color .color-box {

    width: 90%;
    height: 90vh;
    background-color: #ccc;
  top:0;
  left:0;
  margin-top:8vh;
  margin-left:3vh;

 position:absolute;
    z-index: 0;
}


div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}